<ais-infinite-hits>
  <ng-template
    let-hits="hits"
    let-results="results"
    let-refineNext="showMore"
    let-isLastPage="isLastPage"
  >
    <ol class="ais-InfiniteHits-list">
      <li *ngFor="let hit of hits" class="ais-InfiniteHits-item">
        <h2 class="chord_name">{{ hit.key + hit.suffix }}</h2>
        <div id="myReactComponentContainer">
          <app-draw-chord [chordPosition]="hit.positions[0]"></app-draw-chord>
        </div>

        <div *ngIf="hit.positions.length > 1; else elseBlock" class="posCount">
          {{ hit.positions.length + " positions" }}
        </div>
        <ng-template #elseBlock
          ><div class="posCount">1 position</div></ng-template
        >
      </li>
    </ol>
    <button
      class="ais-InfiniteHits-loadMore"
      (click)="refineNext($event)"
      [disabled]="isLastPage"
    >
      Show More
    </button>
  </ng-template>
</ais-infinite-hits>
